:root {
	--font-size-media: 11px;
	--font-size-big-media: 15px;
}

@media (max-width: 828px) {
	.menu {
		 position: relative;
	}

	.burger {
		 position: absolute;
		 top: 50%;
		 right: 15px;
		 transform: translateY(-50%);
		 display: flex;
		 z-index: 7;
	}
	/* =========================================== */
	.image-gallery-scroll {
		 height: 100vh;
		 width: auto;
		 overflow: hidden;
	}

	.image-container-scroll {
		 height: 15vh;
		 width: auto;
		 overflow: hidden;
	}

	.image-container-scroll img {
		 height: 100%;
		 width: auto;
		 object-fit: cover;
	}

	/* =========================================== */
	.burger.active .line:nth-child(1) {
		 transform: rotate(45deg) translate(5px, 11px);
	}

	.burger.active .line:nth-child(2) {
		 opacity: 0;
	}

	.burger.active .line:nth-child(3) {
		 transform: rotate(-45deg) translate(5px, -10px);
	}

	.line {
		 transition: transform 0.3s ease, opacity 0.3s ease;
	}

	.header-container {
		 align-items: center;
		 padding: 20px 0;
		 display: flex;
		 justify-content: center;
		 align-items: center;
		 height: 50px;
	}

	.language-switcher {
		 position: absolute;
		 top: 50%;
		 left: 15px;
		 transform: translateY(-50%);
		 display: flex;
		 z-index: 7;

	}

	.logo {
		 display: none;
	}

	.menu-list {
		 opacity: 0;
		 transform: translateY(-20px);
		 flex-direction: column;
		 display: flex;
		 gap: 10px;
		 background-color: #333;
		 position: absolute;
		 left: 0;
		 width: 100%;
		 max-height: 0;
		 overflow: hidden;
		 transition: opacity 0.3s ease, transform 0.3s ease, max-height 0.5s ease;
	}

	.menu-list.active {
		 opacity: 1;
		 transform: translateY(0);
		 max-height: 1000px;
	}

	.our-menu {
		 margin-top: 0px;
		 margin-bottom: 100px;
		 flex-direction: column;
		 gap: 20px;
	}

	.menu-item {
		 margin-bottom: 10px;
	}

	.menu-list {
		 opacity: 0;
		 transform: translateY(-20px);
		 flex-direction: column;
		 display: none;
		 gap: 10px;
		 background-color: #333;
		 position: absolute;
		 left: 0;
		 width: 100%;
		 overflow: hidden;
		 transition: opacity 0.3s ease, transform 0.3s ease, max-height 0.5s ease;
	}

	.menu-list.active {
		 display: flex;
		 opacity: 1;
		 transform: translateY(0);
	}


	.bar {
		 top: auto;
		 left: 0;
		 bottom: 0;
		 right: 0;
		 display: flex;
		 flex-direction: row;
		 justify-content: space-between;
		 align-items: center;
		 height: 70px;
		 padding: 10px 25px;
		 background-color: rgba(255, 255, 255, 0.9);
		 box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
	}

	.about-menu {
		 padding: 15px;
	}

	#about-title {
		 font-size: var(--font-size-big-media);
	}

	#about-menu-text {
		 font-size: var(--font-size-media);
	}

	.image-link-geo img,
	.image-link-instagram img,
	.image-link-facebook,
	.image-link-tel img {
		 fill: black;
		 filter: brightness(0);
		 transition: 0.3s ease;
	}


	.modal-content {
		 position: relative;
		 background-color: #333;
		 margin: 5% auto;
		 padding: 20px;
		 border: 1px solid #888;
		 width: 80%;
		 max-width: 500px;
		 box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
		 border-radius: 8px;
		 text-align: center;
	}

	.modal-content h3 {
		 margin-top: 10px;
		 font-size: var(--font-size-media);
		 color: white;
	}

	.modal-content a {
		 display: block;
		 margin: 10px 0;
		 font-size: var(--font-size-media);
		 color: white;
		 text-decoration: none;
	}

	.modal-content a:hover {
		 text-decoration: underline;
	}

	.modal-logo {
		 margin: 10px 0;
	}

	.image-link-tel {
		 display: inline-flex;
		 align-items: center;
		 margin-top: 10px;
	}

	.image-link-tel img {
		 margin-right: 5px;
	}

	.close-button {
		 position: absolute;
		 top: 15px;
		 right: 15px;
		 font-size: var(--font-size-big-media);
		 font-weight: bold;
		 color: #888;
		 cursor: pointer;
	}

	.close-button:hover,
	.close-button:focus {
		 color: white;
		 text-decoration: none;
		 cursor: pointer;
	}

	.about-menu {
		 margin-top: 35px;
		 margin-bottom: 10px;
	}

	.footer {
		 font-size: var(--font-size-media);
		 background: #333333;
		 padding: 20px 0;
		 text-align: center;
		 margin-top: -40px;
	}

	.footer-content {
		 max-width: 100%;
	}


	.footer-links a {
		 margin: 0 10px;
		 text-decoration: none;
		 color: #333;
	}

	h1 {
		 font-size: var(--font-size-big-media);
	}

	p {
		 font-size: var(--font-size-media);
	}

	.modal-content {
		 width: 90%;
	}
}

tr {
	color: white;
}
